<div id="main-widgets"
    class="grid grid-cols-1 sm:grid-cols-2  lg:grid-cols-3   2xl:grid-cols-4 gap-3 lg:gap-4 px-2 py-3 md:py-3">


    <!-- widget1 -->
    <div id="widget1" class="flex justify-center items-center w-full mt-5 ">
        <div id=""
            class="flex justify-center items-center gap-7  w-[400px] sm:w-[320px] md:w-[280px] h-[180px] shadow-lg rounded-xl bg-white cursor-pointer hover:bg-slate-100">

            <div id="icon">
                <fa-icon [icon]="faInventory" class="text-[72px]"></fa-icon>

            </div>
            <div id="value" class="flex flex-col justify-center items-center gap-3">
                <div id="top" class="text-3xl font-semibold">{{ dashboardCounts.warehouseCount }}</div>
                <div id="botton" class="text-2xl">WareHouse</div>
            </div>
        </div>
    </div>

    <!-- widget2 -->

    <div id="widget1" class="flex justify-center items-center w-full mt-5 ">
        <div id=""
            class="flex justify-center items-center gap-7  w-[400px] sm:w-[320px] md:w-[280px] h-[180px] shadow-lg rounded-xl bg-white cursor-pointer hover:bg-slate-100">

            <div id="icon">
                <fa-icon [icon]="faInventory" class="text-[72px]"></fa-icon>
            </div>
            <div id="value" class="flex flex-col justify-center items-center gap-3">
                <div id="top" class="text-3xl font-semibold">{{ dashboardCounts.inventoryCount }}</div>
                <div id="botton" class="text-2xl">Inventories</div>
            </div>
        </div>
    </div>




</div>