<div class="flex flex-col h-screen" *ngIf="authService.isLoggedIn()">

    <div class="flex flex-row h-screen">
        <div id="sidebar"
            class="hidden md:block w-[12%] lg:w-[20%] h-full shadow-xl overflow-y-auto scrollbar-thin scrollbar-thumb-gray-900 scrollbar-track-gray-100">
            <app-sidebar></app-sidebar>
        </div>
        <div id="main-dashboard" class="flex flex-col w-[100%] md:w-[88%] lg:w-[80%] bg-[#C8DEDB]">
            <div class="hidden md:block w-full h-[50px] bg-white shadow-xl">
                <app-header></app-header>
            </div>
            <div class="flex-1 overflow-y-auto">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>

</div>

<div *ngIf="!authService.isLoggedIn()">
    <router-outlet></router-outlet>
</div>